


  <main>
    <section class="brand-story">

      <h2>Brand Story</h2>
      <p>Mỗi một chi tiết, mỗi một sản phẩm và hình ảnh đều là những dấu ấn, là câu chuyện mà DEHO muốn gửi gắm đến mỗi khách hàng. DEHO hi vọng trong từng bộ sưu tập, từng sản phẩm và dịch vụ của mình sẽ trở thành một phần trong tổ ấm của mỗi gia đình Việt, như một thông điệp "mang yêu thương gửi trọn trong từng không gian sống". Hướng đến sự tiện ích, hiện đại tối giản và thân thiện môi trường là khát khao mà DEHO không ngừng theo đuổi.

        Chính những khát khao lan toả biến nhà thực sự là "tổ ấm", tháng 03/2020, thương hiệu nội thất DEHO được định hình và ra đời. Là một phần của Savimex với gần 40 năm kinh nghiệm trong sản xuất và xuất khẩu nội thất sang các thị trường khó tính như: Mỹ, Nhật, Hàn,... DEHO tiếp tục kế thừa và phát huy nhằm mang đến cho người Việt những sản phẩm nội thất 100% made in Vietnam theo tiêu chuẩn quốc tế, đảm bảo an toàn sức khoẻ với chi phí hợp lý.
      </p>

      <div class="HƯỚNG ĐẾN GIÁ TRỊ BỀN VỮNG">
        <h1>HƯỚNG ĐẾN GIÁ TRỊ BỀN VỮNG</h1>
        <p>
          “Tính bền vững” là một khái niệm định nghĩa sự phát triển về mọi mặt nhưng vẫn đảm bảo sự tồn tại phát triển ở trạng thái cân bằng. Mang khái niệm “bền vững” vào trong sản phẩm - dịch vụ nội thất là bước đi tiên phong và đầy thách thức mà DEHO luôn không ngừng nỗ lực nhằm lan toả, truyền cảm hứng về một lối sống tích cực, tiêu dùng bền vững hơn vì một tương lai của hành tinh xanh
          <br>
          <b>Mục tiêu phát triển bền vững:</b>
          <br>
          - Truyền cảm hứng về tiêu dùng bền vững đến mọi người tại Việt Nam.
          <br>
          - Sử dụng 100% nguồn nguyên liệu gỗ đạt chứng nhận chứng nhận FSC® - Forest Stewardship Council®.
          <br>
          - Bảo trì trọn đời sản phẩm nhằm kéo dài tuổi thọ và tính hữu dụng của sản phẩm trong thời gian dài.
          <br>
          <b>Nội thất bền vững là gì và tại sao điều này lại quan trọng?
          </b>
          <br>
          <p>"Mặc dù, khái niệm nội thất bền vững tại Việt Nam chưa thực sự phổ biến nhưng những khái niệm như sống xanh, sử dụng vật liệu tái chế, thân thiện môi trường,... được khá nhiều khách hàng quan tâm hưởng ứng. Có thể thấy, nhận thức về tầm quan trọng của việc bảo vệ môi trường đã dần được nâng cao.
             Thông qua việc nỗ lực phát triển, đảm bảo 100% sản phẩm sử dụng các vật liệu bền vững, DEHO tin rằng sẽ góp phần nào thay đổi tích cực, hướng tới mục tiêu là thương hiệu nội thất bền vững tiên phong hàng đầu tại Việt Nam trong tương lai." </p>
          <p></div>

      <div class="THÂN THIỆN MÔI TRƯỜNG">
        <h1>THÂN THIỆN MÔI TRƯỜNG</h1>
          DEHO với xuất phát điểm muốn lan toả thông điệp "Sống xanh", mỗi một sản phẩm nội thất mà DEHO mang đến cho khách hàng đều là bắt nguồn từ nguyên liệu gỗ đạt chuẩn FSC - khai thác từ nguồn rừng có trồng lại. DEHO hiểu rằng, là một doanh nghiệp nói chung, và là doanh nghiệp trong lĩnh vực nội thất nói riêng, cần có trách nhiệm hơn với cộng đồng và môi trường xanh của chúng ta. Giá trị tốt đẹp này không chỉ riêng DEHO mà mỗi một khách hàng sử dụng sản phẩm DEHO đều đóng góp và nhân rộng lên giá trị bền vững này.
        <img src="DEHO\site\public\images\noi-that-moho-ben-vung6.jpg" style="width: 100%; height: auto;" alt="Chứng nhận FSC">
      </div>

        <div class="AN TOÀN SỨC KHOẺ">
          <h1>AN TOÀN SỨC KHOẺ</h1>
        Đặt yếu tố sức khoẻ và an toàn khách hàng lên hàng đầu, các sản phẩm nội thất gỗ công nghiệp tại DEHO:
          <br>
          - Đạt chứng nhận chứng nhận giảm phát thải Formaldehyde – CARB P2, đảm bảo gỗ không độc hại.
          <br>
          - Ưu tiên sử dụng sơn gốc nước thay cho sơn gốc dầu.
          <br>
          - Trang bị bộ anti tip kit  đối với tủ quần áo và tủ giày VIENNA, tránh tình trạng tủ bị lật, gây nguy hiểm, đặc biệt là những gia đình có trẻ nhỏ.
          <br>
        Tại hầu hết các nước trên thế giới đều qui định nghiêm ngặt về tiêu chuẩn an toàn CARB - P2 đối với các sản phẩm gỗ công nghiệp, cũng như các yếu tố an toàn trong quá trình sử dụng, DEHO tin rằng việc tiên phong về tiêu chuẩn sức khoẻ - an toàn người dùng sẽ là điểm mạnh mang thương hiệu nội thất của người Việt vươn tầm quốc tế trong tương lai.
        <img src="../gioithieu/img/noi-that-MOHO_cab083b219614a7c82944ad720caccbb_1024x1024.webp" style="width: 100%; height: auto;" alt="Chứng nhận FSC">


        </div>
        <div class="CHẤT LƯỢNG QUỐC TẾ">
          <h1>CHẤT LƯỢNG QUỐC TẾ</h1>
          <p>
            Sản xuất trực tiếp tại nhà máy Savimex với công nghệ hiện đại cùng đội ngũ thợ tay nghề cao.
            <br>
            - Nhà máy chế biến gỗ đầu tiên tại Việt Nam đạt chứng nhận hệ thống quản lý môi trường đạt chuẩn quốc tế ISO 14001.
            <br>
            - Rộng 10ha với hơn 1,500 công nhân viên giàu kinh nghiệm cùng máy móc công nghệ hiện đại.
          </p>
          <img src="../gioithieu/img/chatluongquocte.webp" style="width: 100%; height: auto;" alt="Chứng nhận FSC">
        </div>
        <div class="TINH TẾ TRONG TỪNG ĐƯỜNG NÉT">
          <H1>TINH TẾ TRONG TỪNG ĐƯỜNG NÉT</H1>
          <p>Chúng tôi tạo ra không gian sống tuyệt vời nhất, nơi chúng tôi gọi là “Nhà”.
            <BR>
            "Điều tôi muốn xây dựng ở đây là mang đến những thiết kế cao cấp dành riêng cho người Việt. Tôi muốn giúp khách hàng cá nhân hoá không gian sống thật sự phù hợp và lý tưởng. DEHO, chúng tôi làm tất cả vì khách hàng." Mr. Nicolai Lehn - Giám đốc thiết kế của DEHO.</p>
            <img src="../gioithieu/img/chatluongquocte.webp" style="width: 100%; height: auto;" alt="Chứng nhận FSC">

          </div>
          <div class="TRẢI NGHIỆM TỐT NHẤT">
            <h1>TRẢI NGHIỆM TỐT NHẤT</h1>
            Tham quan và trải nghiệm cửa hàng nội thất của DEHO với lối kiến trúc không gian mở hiện đại, các sản phẩm nội thất được bố trí theo từng không gian và phong cách nội thất, mang đến trải nghiệm mua sắm tuyệt vời cho khách hàng.
            <img src="../gioithieu/img/trainghiem1.webp" style="display: block; margin: 0 auto; max-width: 100%;" alt="Chứng nhận FSC">
            <p style="text-align: center;">Showroom: 162 HT17, P. Hiệp Thành, Q. 12, TP. HCM</p>
            <img src="../gioithieu/img/trainghiem2.webp" style="display: block; margin: 0 auto; max-width: 100%;" alt="Chứng nhận FSC">
            <p style="text-align: center;">
              Experience Store 1: S05.03-S18 phân khu The Rainbow | Vinhomes Grand Park, TP. Thủ Đức
              <br>
              Experience Store 2: S3.03-Sh15 phân khu Sapphire | Vinhomes Smart City, Hà Nội
            </p>
          </div>
          <div class="chungnhan">
            <h1>CHỨNG NHẬN CỦA DEHO</h1>
            <img src="../gioithieu/img/chungnhan.webp" style="display: block; margin: 0 auto; max-width: 100%;" alt="Chứng nhận FSC">

          </div>


      </section>
  </main>
