# MongoDB Connection URI
# Sử dụng 'mongodb://mongodb:27017/deho' khi chạy bằng Docker
# Sử dụng 'mongodb://localhost:27018/deho' khi chạy Node trực tiếp trên máy
MONGODB_URI=mongodb://mongodb:27017/deho

# Cổng khởi chạy hệ thống (Mặc định 4405)
PORT=4405

# Mã bí mật để mã hóa Token (Thay bằng một chuỗi ký tự ngẫu nhiên và dài)
SECRET_KEY=your_very_secure_secret_key_here
